<h2>show page</h2>

<h2><%= @book.title %></h2>
<ul><li><%= link_to('Edit title', edit_book_path(@book)) %></li>
  <li><%= link_to('Delete book', book, :data => {:confirm => 'Are you sure to delete the book from database?' }) %></li>
  <li><%= link_to('Continue', edit_page_path(@book.id) %></li>
</ul>